.navbar-brand img{
    width: 50px;
}

/*Estilização de todas as páginas*/
#main-title{
    text-align: center;
    margin: 15px 0 30px;
}

#tabela-contatos{
    max-width: 800px;
    margin: 0 auto;
}
#tabela-contatos thead th{
    background-color: #007bff;
    color: white;
}

/*Estilo para quando o BD estiver vazio*/
#empty-list-text{
    text-align: center;
}

/*Estilizando a mensagem que aparece na área da SESSION*/
#msg{
    background-color: rgb(44, 229, 44);
    color: rgb(9, 126, 9);
    border: 2px solid rgb(9, 126, 9);
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;

}
/*estilização dos icoens*/

.actions-icons{
    text-align: right;
    width: 150px;
}
.actions-icons i{
    cursor: pointer;
    font-size: 20px;
    margin-right: 3px;
}

/*estilizando individualmente cada icone*/
/* Estilização dos ícones */
.eye-icon {
    color: green;
    transition: transform 0.2s ease, color 0.2s ease; /* Adiciona animação */
}

.eye-icon:hover {
    color: darkgreen; /* Altera a cor ao passar o mouse */
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
}

.edit-icon {
    color: blue;
    transition: transform 0.2s ease, color 0.2s ease; /* Adiciona animação */
}

.edit-icon:hover {
    color: darkblue; /* Altera a cor ao passar o mouse */
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
}


/* Estilização do botão de deletar */
.btn-deletar {
    background-color: transparent; /* Remove o fundo padrão */
    border: none; /* Remove a borda padrão */
    color: red; /* Define a cor do texto/ícone */
    cursor: pointer; /* Define o cursor como pointer */
    font-size: 20px; /* Ajusta o tamanho do ícone */
    padding: 5px; /* Adiciona um espaçamento interno */
    transition: transform 0.2s ease, color 0.2s ease; /* Adiciona animação */
}

.btn-deletar:hover {
    color: darkred; /* Altera a cor ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

#footer-agenda{
    background-color: cadetblue;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    box-sizing: border-box;

}


#redesocial-container ul, #footer-links-conteiner ul{
    list-style: none;
    padding: 0;
}

#redesocial-container li, #footer-links-conteiner li{
    display: inline-block;
    margin: 0 20px;
}

#redesocial-container li{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
}

#redesocial-container a, #footer-links-conteiner a{
    color: #ffffff;
    transition: 5s;
}

#redesocial-container li i{
    font-size: 30px;

}

#redesocial-container li:hover{
    background-color: #696969;
}